*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url('./prisioner.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-position:center top;
  background-attachment: fixed;
  font-family: 'Concert One', cursive;
}

.container{
  padding-left: 250px;
}

.container h2{
  padding-top: 150px;
  padding-left: 620px;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  color: lightgreen;

}

.container p{
  padding-top: 100px;
  color: #ee6060;
  width: 300px;
  text-align: center;
  padding-left: 680px;
}

.container .button{
    margin-left: 800px;
    padding: 4px 10px;
    background-color: red;
    border-radius: 4px;
    margin-top: 15px;
    color: #ee6060;
}

.button a{
  text-decoration: none;
  color: white;
}

.button:hover{
  background-color: pink;
}


